.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.bg-dark-green{
  background-color:#55efc4;
  background-image:linear-gradient(315deg, #55efc4 0%, #000000 74%);
}

.bg-dark-yellow{
  background-color: #d2a813;
  background-image: linear-gradient(315deg, #ffa500 0%, #000000 74%);
}

.bg-dark-blue{
  background-color: #0c8dd8;
  background-image: linear-gradient(315deg, #0c8dd8 0%, #000000 74%);
}


.bg-dark-orange{
  background-color: #0c8dd8;
  background-image: linear-gradient(315deg, #e67e08 0%, #000000 74%);
}

.bg-purple {
  background-color: #6f42c1;
}

.bg-pink {
  background-color: #b42ecf;
}

.bg-blue {
  background-color: #0c8dd8;
}

.bg-orange {
  background-color: #e67e08;
}

.sixty-height{
  min-height: 60vh;
  max-height: 60vh;
}
.thirty-height{
  min-height: 30vh;
  max-height: 30vh;
}