{% extends "sidebar-base.html" %}

{% block title %}
Monthly Actions - Roopvilla Project
{% endblock %}

{% block morestyles %}
<link href="static/css/monthly.css" rel="stylesheet">
{% endblock %}

{% block panel %}

<div class="p-2 mb-2 rounded-3 bg-div">
  <div class="container-fluid py-1 center-text">
    <h3 class="display-7 fw-bold">Monthly Actions</h3>
    <div class="my-2">
      <div class="input-group mb-3">
        <span class="input-group-text">Year:</span>
        <select class="form-select" id="mainYear" onchange="updateYearlyDetails(this.value);">
        </select>
        <span class="input-group-text">Month:</span>
        <select class="form-select" id="mainMonth" onchange="updateMonthlyDetails(this.value);">
        </select>
      </div>
    </div>
    <div class="full-width d-grid gap-1 d-md-block">
        <button class="btn-hover color-1 px-2" onclick="createDistributionForm();">Create Distribution</button>
        <button class="btn-hover color-3 px-2" onclick="updatePaymentsForm();">Update Payments</button>
        <button class="btn-hover color-7 px-2" onclick="updateExpensesForm();">Update Expenses</button>
        <button class="btn-hover color-9 px-2" onclick="setDefaultersForm();">Set Defaulters</button>
        <button class="btn-hover color-10 px-2" onclick="deleteDistributionForm();">Delete Distribution</button>
    </div>
    <div class="m-auto-1 text-center" >
      <span id="message">Hello there</span>
    </div>
  </div>
</div>
<div>
  <!--Create-->
  <div class="selectable bg-dark-green p-3 rounded-3" id="createForm">
    <form id="createMonthlyForm">
      <div class="row align-items-md-stretch mb-2">
        <h2>Create Monthly Distribution</h2>
        <div style="width: 25%;">
          Paying Flats:
          <div id="payersOptions" class="form-check form-switch">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Unsold Flats</span>
            <input type="text" class="form-control" placeholder="FlatA,FlatB" name="unsold">
          </div>
        </div>
        <div  style="width: 75%;">
          <div class="input-group mb-3" style="width: 40%;">
            <span class="input-group-text">Month</span>
            <select class="form-select" id="createMonthList" name='createDistMonth'>
            </select>
            <span class="input-group-text">Year</span>
            <input type="number" class="form-control" placeholder="Year" step="1" name="createDistYear">
          </div>
          Added/Edit Monthly Estimates Details: 
          <div class="input-group mb-1">
            <input type="text"  class="form-control" placeholder="Item name" id="estimateName">
            <span class="input-group-text">Amount ₹</span>
            <input type="number" class="form-control" placeholder="Price" step="1" id="estimateAmount">
            <button class="btn btn-primary" type="button" onclick="AddEstimate();">Add Item</button>
          </div>
          Added Estimates will show up in this table:
          <table class="table table-dark table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody id="estimateList">
            </tbody>
          </table>
        </div>
      </div>

      <button class="btn btn-primary" type="submit">Create Monthly Distribution</button>

    </form>
  </div>
  <!--expenses-->
  <div class="selectable" id="expensesForm">
    <form id="setExpensesForm">
      <div class="card bg-dark p-3">
        <div class="card-header">
          <h4 class="display-7 fw-bold" id="updateExpenseLabel"></h4>
        </div>
        <div class="card-body white_border">
          Electricity Bill Details:
          <div class="input-group mb-3">
            <span class="input-group-text">Billing Year</span>
            <input type="text" aria-label="Billed Year" class="form-control" placeholder="Year" name="bill_year" required>
            <label class="input-group-text" for="expensesSelect">Billied Month</label>
            <select class="form-select" id="expensesSelect" name="bill_month" required>
            </select>
            <span class="input-group-text">Amount ₹</span>
            <input type="number" class="form-control" name="bill_amount" placeholder="100.0" step="0.1" required>
            <span class="input-group-text">Units Billed</span>
            <input type="number" class="form-control" name="bill_units" placeholder="100" step="1" required>
          </div>
          Added/Edit Monthly Expenses Details: 
          <div class="input-group mb-1">
            <input type="text"  class="form-control" placeholder="Item name" id="expenseName">
            <label class="input-group-text" for="expensesSelect">Item Category</label>
            <select class="form-select" id="expenseCategory">
            </select>
            <span class="input-group-text">Amount ₹</span>
            <input type="number" class="form-control" placeholder="Price" step="1" id="expenseAmount">
            <button class="btn btn-primary" type="button" onclick="AddExpense();">Add Item</button>
          </div>
        Added Expenses will show up in this table:
        <table class="table table-dark table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">Item Name</th>
              <th scope="col">Category</th>
              <th scope="col">Amount</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="expensesList">
          </tbody>
        </table>
        </div>
        <div class="card-footer" id="status">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!--Payments-->
  <div class="selectable" id="paymentsForm">
    <form id="setPaymentsForm">
      <div class="card bg-dark p-3">
        <div class="card-header">
          <h3 class="display-7 fw-bold">Set Payment Status</h3>
        </div>
        <div class="card-body white_border">
          <div id="paymentOptions" class="form-check form-switch">

          </div>
        </div>
        <div class="card-footer" id="status">
          <button class="btn btn-primary" type="submit">Update payment Statuses</button>
        </div>
      </div>
    </form>
  </div>
  <!--Defaulters-->
  <div class="selectable" id="defaultersForm">
    <form id="changeDefaultersForm">
      <div class="card bg-dark p-3">
        <div class="card-header">
          <h3 class="display-7 fw-bold">Change Defaulters</h3>
        </div>
        <div class="card-body white_border">
          <div id="defaultersOptions" class="form-check form-switch">

          </div>
        </div>
        <div class="card-footer" id="status">
          <button class="btn btn-primary" type="submit">Update Defaulters' Statuses</button>
        </div>
      </div>
    </form>
  </div>
  <!--Delete-->
  <div class="selectable" id="deleteForm">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div id="removalWarning">
      </div>
      <button class="btn btn-danger my-2" onclick="deleteMonth();">Delete</button>
    </div>
  </div>
</div>

{% endblock %}

{% block morescripts %}
<script src="static/js/monthly.js"></script>
{% endblock %}