{% extends "base.html" %}

{% block stylesheets %}
<link href="static/css/sidebars.css" rel="stylesheet">
{% block morestyles %}{% endblock %}
{% endblock %}

{% block body %}
{% include 'svg-icons.html' %}

<div class="d-flex text-white full-height" style="width: 100%;">

  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 15%;">
    <div href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Roopvilla Project</span>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/home" class="nav-link text-white {% if path == 'home' %}active{% endif %}" {% if path == 'home' %}aria-current="page"{% endif %}>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
          Home
        </a>
      </li>
      <li>
        <a href="/mom" class="nav-link text-white {% if path == 'mom' %}active{% endif %}" {% if path == 'mom' %}aria-current="page"{% endif %}>
          <svg class="bi me-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
            <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
            <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
            <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
          </svg>
          Minutes of Meetings
        </a>
      </li>
      <li>
        <a href="/monthlyActions" class="nav-link text-white {% if path == 'monthlyActions' %}active{% endif %}" {% if path == 'monthlyActions' %}aria-current="page"{% endif %}>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          Monthly Actions
        </a>
      </li>
      <li>
        <a href="/emergencyFunds" class="nav-link text-white {% if path == 'emergencyFunds' %}active{% endif %}" {% if path == 'emergencyFunds' %}aria-current="page"{% endif %}>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
          Emergency Funds
        </a>
      </li>
      <li>
        <a href="/memberDetails" class="nav-link text-white {% if path == 'memberDetails' %}active{% endif %}" {% if path == 'memberDetails' %}aria-current="page"{% endif %}>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
          Members Details
        </a>
      </li>
    </ul>

    {% include 'footer.html' %}
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="static/admin.png" alt="ADM" width="32" height="32" class="rounded-circle me-2">
        <strong>{{ name }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="https://roopvilla-project.herokuapp.com/">Member Portal</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><button class="dropdown-item" id="logout" >Sign out</button></li>
      </ul>
    </div>
  </div>

  
  <div style="width: 85%;" class="d-flex flex-column flex-shrink-0 p-3 text-white">
    {% block panel %}{% endblock %}
  </div>
</div>

<script src="static/js/sidebars.js"></script>
{% block morescripts %}{% endblock %}
{% include 'scripts.html' %}
{% endblock %}